import {
  EaCRuntimePlugin,
  EverythingAsCode,
  EverythingAsCodeSynaptic,
} from './tests.deps.ts';
import {
  AI_LOOKUP,
  buildTestIoC as baseBuildTestIoC,
} from '@fathym/eac-apps-pack/testing/test-eac-setup.ts';
import RuntimePlugin from '../src/plugins/RuntimePlugin.ts';

const testEaC = {} as EverythingAsCodeSynaptic;

export async function buildTestIoC(
  eac: EverythingAsCode,
  plugins: EaCRuntimePlugin[] = [new RuntimePlugin()],
  useDefault = true,
  useDefaultPlugins = false,
) {
  return await baseBuildTestIoC(
    useDefault ? testEaC : {},
    eac,
    plugins,
    useDefaultPlugins,
  );
}
